<h1>Listing graults</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graults.each do |grault| %>
      <tr>
        <td><%= grault.name %></td>
        <td><%= link_to 'Show', grault %></td>
        <td><%= link_to 'Edit', edit_grault_path(grault) %></td>
        <td><%= link_to 'Destroy', grault, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grault', new_grault_path %>
