<h1>Listing waldos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waldos.each do |waldo| %>
      <tr>
        <td><%= waldo.name %></td>
        <td><%= link_to 'Show', waldo %></td>
        <td><%= link_to 'Edit', edit_waldo_path(waldo) %></td>
        <td><%= link_to 'Destroy', waldo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waldo', new_waldo_path %>
