<h1>Listing corges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corges.each do |corge| %>
      <tr>
        <td><%= corge.name %></td>
        <td><%= link_to 'Show', corge %></td>
        <td><%= link_to 'Edit', edit_corge_path(corge) %></td>
        <td><%= link_to 'Destroy', corge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corge', new_corge_path %>
